.select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
  margin: 0 0 1.25rem 0;
}

.select select {
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  height: 1.8em;
  padding-right: 2.5em;
}

.select::after {
  border-color: #3273dc;
  right: 1.125em;
  z-index: 4;
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 0.625em;
}

.select select:hover {
  border-color: #b5b5b5;
}
