.modal,
.modal-bg {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

.modal {
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 2;
}

.modal.is-active {
  display: flex;
}

.modal-bg {
  background-color: rgba(10, 10, 10, 0.86);
}

.modal-content {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .modal-content {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 640px;
  }
}

.modal-close {
  height: 32px;
  max-height: 32px;
  max-width: 32px;
  min-height: 32px;
  min-width: 32px;
  width: 32px;
  background: none;
  position: fixed;
  right: 20px;
  top: 20px;
  border: none;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  outline: 0;
  vertical-align: top;
}

.modal-close::before {
  height: 50%;
  width: 2px;
}

.modal-close::after {
  height: 2px;
  width: 50%;
}

.modal-close::after,
.modal-close::before {
  background-color: #fff;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center center;
}

.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}

.box table thead {
  text-align: left;
  background: #fab842;
}

.box table thead th {
  padding: 0.4rem 0.5rem 0.3rem;
  vertical-align: center;
}

.box table tbody tr:hover {
  background: #ededed;
}
