table {
  border-collapse: collapse;
  width: 100%;
}

thead tr:first-child {
  border-bottom: 1px solid #ccc;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  padding: 0.5rem;
}

td .cell {
  display: flex;
}

td img {
  margin: 0 8px 0;
  width: 20px;
  height: 15px;
}

td .icon__plus::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: url(./icon__plus.svg) no-repeat;
  background-size: contain;
}

tbody tr:hover {
  background: #fab842;
}

.cell-align-left {
  text-align: left;
}

.medal-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

.medal-icon.medal-icon__gold {
  background: #fbcc38;
}

.medal-icon.medal-icon__silver {
  background: #dddbdd;
}

.medal-icon.medal-icon__bronze {
  background: #b2723c;
}
